<table border="1">
    <tr>
        <td>ID:</td>
        <td><%= result.food.id %></td>
    </tr>
    <tr>
        <td>Name:</td>
        <td><%= result.food.name %></td>
    </tr>
    <tr>
        <td>Calories:</td>
        <td><%= result.food.kcal %> kcal</td>
    </tr>
    <tr>
        <td>Protein:</td>
        <td><%= result.food.prots %> g</td>
    </tr>
    <tr>
        <td>Carbs:</td>
        <td><%= result.food.carbs %> g</td>
    </tr>
    <tr>
        <td>Fat:</td>
        <td><%= result.food.fat %> g</td>
    </tr>
    <tr>
        <td>Saturated fat:</td>
        <td><%= result.food.sfat %> g</td>
    </tr>                             
</table>  